
\.venv
# dependencies
node_modules
Frontend/node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist
Frontend/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

\venv1


\.venv

\node_modules

.venv


.env
.env.*
!.env.example